.mb_container{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	min-height: 100px;
	transform: translate3D(-50%, -50%, 0);
}
.mb_container .mb_header{
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: lightblue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.mb_container .mb_content{
	min-height: 40px;
	background-color: white;
	padding: 5px;
}
.mb_container .mb_footer{
	height: 30px;
	text-align: center;
	background-color: lightblue;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.mb_container .mb_footer:before{
	display: inline-block;
	content: "";
	height: 100%;
	vertical-align: middle;
}
.mb_container .mb_footer .confirm_btn{
	display: inline-block;
	width: 50%;
	margin: 0 2px;
	padding: .3em 1em .35em;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	border-radius: .5em;
	outline: none;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	color: white;
	vertical-align: middle;
}
/* blue */
.mb_container .mb_footer .mb_blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
}
.mb_container .mb_footer .mb_blue:hover {
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
}
.mb_container .mb_footer .mb_blue:active {
    color: #80bed6;
    background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
}